@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i&display=swap&subset=cyrillic');

html, body {
    height: 100%;
    background: #f8f8f8;
    margin: 0;
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 2em;
}

header {
    /*background-color: gainsboro;*/
    background: linear-gradient(to bottom, #fff, #878797);
    border-bottom: 2px solid black;
    overflow: auto;
}

header h1 {
    width: 60%;
    float: left;
    text-align: center;
    text-shadow: 10px 10px 4px #8BA9B6;	
}
section#main p {
    /*display: inline-block;*/
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0;
transition: 0.9s ease;
}

@media (min-width: 500px){
    section#main p:hover {
        font-size: 1.2em;
        letter-spacing: 3px;
    }
}

section#main {
    height: 80%;
    width: 100%;
    margin: 0;
    background: url("../image/main.jpg") border-box border-box;
    background-size: 100% 100%;
    font-size: 14px;
    color: white;
    line-height: 1.6;
    text-align: center;
    position: relative;
}



footer {
    height: 10%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #38404b;
}

footer p {
    font-size: 12px;
    color: #eeeeee;
}

.main {
    width: 100%;
}

h1+.main {
    width: 40%;
    overflow: hidden;
}
.main li {
    background-color: #000;
    border-radius: 20px;
    list-style-type: none;
    line-height: 150%;
    display: inline-block;
    padding: 10px 20px 15px;
    margin-right: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: 0.6s ease;
}

.main li:hover {
    background-color: #fff;
}

.main li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.main li:hover a {
	color: black;
    letter-spacing: 3px;
}

.itemsection {
    padding: 5px;
    height: 80%;
    width: 100%;
    margin: 0;
}

.itemsection h1 {
    text-align: center;
}

.itemsection h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    text-align: center;
}
.itemsection .itemblock {
    width: 20%;
    min-width: 150px;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: center;
}
.itemsection .itemblock a[id="top"] {
    position: relative;
    width: 100%;
    display: block;
}

.itemblock a[id="top"]::after {
    content: '';
    background: transparent url(../image/icons/eye_icon.svg) no-repeat center;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.itemblock:hover > a[id="top"]::after {
    visibility: visible;
}

.itemsection p::first-letter{
    font-family: "Playfair Display", sans-serif;
    font-size: 1.3em;
    color: crimson;
}

.itemsection a[id="top"] img {
    width: 90px;
    padding: 5px;
    border: #ff5a00 solid 3px;
    border-radius: 25px 25px;
    /*left: 50%;
    margin-left: -60px;*/
    position: relative;
}

.itemsection a[id="top"]:hover > img {
    border: #f8f8f8 solid 3px;
    border-radius: 25px 25px;
    opacity: .5;
}
.itemblock .gallery {
    display: inline;
}
.gallery a {
    display: inline-block;
}
.gallery a img {
    padding-left: 5px;
    width: 50px;
}

.itemsection .description{
    width: 100%;
}
.concise_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    overflow: hidden;
}

.detailed_description {
    color:  #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.detailed_description strong {
    font-size: .7em;
}

.product_characteristic{
    overflow: hidden;
}

/*.product_characteristic table th {
    box-shadow: -4px 4px 0 -2px #eee, 4px -4px 0 -2px #eee, 4px 4px 0 -2px darkorange, 0 0 0 2px darkorange;
    margin: 10px;
    list-style: url("http://icons.iconarchive.com/icons/custom-icon-design/mini-2/16/Forward-icon.png") outside;
}*/

figure {
    padding: 10px;
    max-width: 300px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffe8db;
    border: 6px solid #ff5a00;
    border-radius: 15px 100px;
}

figure a img{
    max-width: 250px;
}

figure figcaption {
    padding-left: 40px;
    text-align: center;
}

.catalog h1 {
    text-align: center;
}

input {
    font-size: 14px;
    color: darkslategray;
}

input[type="text"], [type="email"], [type="number"], [type="date"] {
    font-size: 15px;
    height: 1em;
    width: 200px;
}

input[type="email"]:focus {
    color: cornsilk;
    background-color: darkred;
}

input[type="text"]{
    text-transform: capitalize;
}

.common_element h1 {
    text-align: center;
    background: linear-gradient(to right, #ffffff, #9c8e74);
}

section#delivery {
    height: 80%;
    width: 100%;
    margin: 0;
    text-align: center;
}